.navLink {
    font-size: xx-large;
    text-decoration: none;  
    font-family: Didot;
    font-weight: bold;
    width: 50px;
    padding: 10px;
    margin: 10px;

}

.navBar {
    padding: 5px;
    background-color: lightpink;
    border-radius: 15px;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

body {
    background: #3ABCC6;
    background: -moz-radial-gradient(center, #3ABCC6 0%, #A969E7 50%, #D58BD1 100%);
    background: -webkit-radial-gradient(center, #3ABCC6 0%, #A969E7 50%, #D58BD1 100%);
    background: radial-gradient(ellipse at center, #3ABCC6 0%, #A969E7 50%, #D58BD1 100%);
}

.taskCard {
    font-family: Didot;
    padding: 30px;
    float: left;
    border: 10px solid;
    border-color: #A365AD;
    margin: 10px;
    background-color: #7CCE97;
    -webkit-box-shadow: 2px 5px 43px 0px #A365AD; 
    box-shadow: 2px 5px 43px 0px #A365AD;
    text-align: center;
    align-items: center;
}

.pageTitle {
    font-family: Didot;
    background-color: #7CCE97;
    text-align: center;
    width: fit-content;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}

.taskCardName {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.taskCardTime {
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.timeTotals {
    font-family: Didot;
    font-size: 25px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}


.selection {
    padding: 10px;
    font-style: Didot;
    align-items: center;
    margin: 10px;

}


.todaysDate {
    text-decoration: underline;
    text-align: center;
}

.pieChart {
    float: left;
    height: 200px;
    width: 50%;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 20px;
}

.form {
    text-align: center;
}

.taskCardContainer {
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.cleaning::marker {
    color: #FFEA80;
}

.cooking::marker {
    color: #9999FF;
}

.exercise::marker {
    color: #FF8080;
}

.homework::marker {
    color: #E566FF;
}

.friends::marker {
    color: #66FF99;
}

.sleeping::marker {
    color: #FF00FF;
}

