.navLink {
    font-size: xx-large;
    text-decoration: none;  
    padding: 100px;  
    font-family: Didot;
    font-weight: bold;
}

.navBar {
    padding: 10px;
    background-color: lightpink;
    border-radius: 15px;
}

body {
    background-color: lavender;
    text-align: center;
}

.taskCard {
    font-family: Didot;
    padding: 30px;
    float: left;
    border: 10px solid;
    margin: 10px;
    background-color: #7CCE97;
}

.pageTitle {
    font-family: Didot;
}

.taskCardName {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

.taskCardTime {
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 10px;
}