.navLink {
    font-size: xx-large;
    text-decoration: none;  
    font-family: Didot;
    font-weight: bold;
    width: 50px;
    padding: 20px;

}

.navBar {
    padding: 5px;
    background-color: lightpink;
    border-radius: 15px;
}

body {
    text-align: center;
    background: #3ABCC6;
    background: -moz-radial-gradient(center, #3ABCC6 0%, #A969E7 50%, #D58BD1 100%);
    background: -webkit-radial-gradient(center, #3ABCC6 0%, #A969E7 50%, #D58BD1 100%);
    background: radial-gradient(ellipse at center, #3ABCC6 0%, #A969E7 50%, #D58BD1 100%);
}

.taskCard {
    font-family: Didot;
    padding: 30px;
    float: left;
    border: 10px solid;
    border-color: #A365AD;
    margin: 10px;
    background-color: #7CCE97;
    -webkit-box-shadow: 2px 5px 43px 0px #A365AD; 
    box-shadow: 2px 5px 43px 0px #A365AD;
}

.pageTitle {
    font-family: Didot;
    background-color: #7CCE97;
}

.taskCardName {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

.taskCardTime {
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 10px;
}

.timeTotals {
    font-family: Didot;
    padding: 10px;
    font-size: larger;
}